<%= form_with model:@user_book, local:true do |f| %>
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Opinion</label>
    <%= f.text_area :opinion, class: "form-control" %>
  </div>
  <%= f.submit "Create book", class: "btn btn-success" %>
<% end %>
